<div class="container p-5 new-booking">
  <div class="row">
    <%= simple_form_for [@cat, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true  %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
