.banner {
<<<<<<< HEAD
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photo-1511044568932-338cba0ad803.jpg");
=======
  background-image: linear-gradient(rgba(0, 0, 0, 0.247),rgba(0, 0, 0, 0.2)) , url("photo-1511044568932-338cba0ad803.jpg");
>>>>>>> ba671043061ac7324aa9515cd4045770c7581f87
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-top: -15px;
  margin-bottom: 20px;
}

.banner img {
  filter: brightness(50%);
}

.banner h1, p {
  color: white;
  text-shadow:  1px 1px 1px, rgba(10,10,10,.4);
}

.container {
  width: 900px;
  margin: auto;
}

.container h2 {
  text-align: center;
}

.btn-apply {
  background: #6c846c;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  transition: color .2s;
  display: inline;
  box-shadow: 2px 2px 4px rgba(10,10,10,.8);
}

.btn-apply:hover {
  transition: color .2s;
  background-color: white;
  color: #6c846c;
}
