.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.247),rgba(0, 0, 0, 0.2)) , url("photo-1511044568932-338cba0ad803.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-top: 0;

  img {
    filter: brightness(50%);
  }

  h1 {
    color: white;
    text-shadow:  1px 1px 1px, rgba(10,10,10,.4);
  }

  p {
    color: white;
  }
}
.container {
  width: 900px;
  margin: auto;

  h2 {
    text-align: center;
  }
}

.btn-apply {
  background: #6c846c;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  transition: color .2s;
  display: inline;
  box-shadow: 2px 2px 4px rgba(10,10,10,.8);
}

.btn-apply:hover {
  transition: color .2s;
  background-color: white;
  color: #6c846c;
}
