.card-booking {
  display: inline-grid;
  justify-content: center;
  align-content: stretch;
  height: 350px;
  width: 260px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(10,10,10,.4);
  text-align: center;
  padding: 50px;
  border: 1px solid white;
  margin-bottom: 15px;

  img {
    height: 135px;
    width: 200px;
    object-fit: cover;
    vertical-align: bottom;
  }

  h5 {
    color: #1e1d1d;
    font-size: 20px;
  }

}
