.cat-show {
  overflow: hidden;
  background: white;
  box-shadow: 1px 1px 3px rgba(10,10,10,.2);
  height: 120px;
  display: flex;
  align-items: center;
}

.top {
  width: 100%;
  margin: auto;
  justify-content: center;
  padding: 24px 0px 0px;

  h1 {
    color: black;
  }

  p {
    color: black;
  }
}

.cat-picture {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cat-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  border-bottom: 1px solid lightgrey;
}

.description {
  margin-top: 24px;
  border-bottom: 1px solid lightgrey;

  p {
    color: darkgrey;
  }
}

.links {
  color: #222222;
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}
