.navbar-lewagon {
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  margin: 0px;
  background: white;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 0 0 0.7px rgba(10,10,10,.1);
  margin-bottom: 85px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
