.navbar-lewagon {
  justify-content: space-between;
  margin: 0px;
  background: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-green {
  background: #6c846c;
  color: white;
  margin-bottom: 10px;
}
