.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0px;
  background: white;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
