<h1>Cats#index</h1>

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Rent a beautiful Cat!</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">List of Cats</h3>
    <%= link_to "Create a cat list", new_cat_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to cat_path(cat), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in">
            <%= cat.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= cl_image_tag("rouywin8bjrcln0b1bd9",
      width: 400, height: 300, crop: :fill) %>
