
<%# ---Banner start--- %>
<%# <div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                            url('assets/kittens.jpg');"> %>
  <div class="banner">
    <div class="container">
      <h1>PAWsitive</h1>
      <p>Change your life. Rent a cat today.</p>
      <br>
      <a class="btn-apply" href="#">Book right meow!</a>
    </div>
  </div>
<%# ---banner end--- %>


<%# <div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Rent a beautiful Cat!</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div> %>

<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Our Cats</h3>
    <%= link_to "Add a new cat", new_cat_path, class: "btn btn-success" %>
  </div>
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to cat_path(cat), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in">
            <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :fill %>
            <p class="text-center" ><%= cat.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
